script(type="text/javascript", src="js/lodash.min.js")
script(type="text/javascript", src="js/jquery-1.10.2.min.js")
script(type="text/javascript", src="ace-min/ace.js")
script(type="text/javascript", src="superfish/dist/js/superfish.js")
script(type='text/javascript', src='angular/angular.js')
script(type='text/javascript', src='angular/angular-ui-router.js')
//-script(type='text/javascript', src='angular/angular-cookies.js')
// angular-resource is depended by angular ui-bootstrap
//script(type='text/javascript', src='angular/angular-resource.min.js')
script(type="text/javascript", src="js/ui-bootstrap-custom-tpls-0.7.0.min.js")

script(type='text/javascript', src='modules/twoside.js')
script(type='text/javascript', src='modules/userinfo.js')
script(type='text/javascript', src='modules/peasy.js')
script(type='text/javascript', src='modules/library.js')
script(type='text/javascript', src='modules/abstract/common.js')
script(type='text/javascript', src='modules/display/base.js')
script(type='text/javascript', src='modules/display/common.js')
script(type='text/javascript', src='modules/display/english.js')
script(type='text/javascript', src='modules/display/chinese.js')
script(type='text/javascript', src='modules/display/highlanguage.js')
script(type='text/javascript', src='modules/display/js.js')
script(type='text/javascript', src='modules/dom/common.js')
script(type='text/javascript', src='modules/transform/abstract2display/abstract2display.js')
script(type='text/javascript', src='modules/transform/display2abstract.js')
script(type='text/javascript', src='modules/transform/display2dom.js')
script(type='text/javascript', src='modules/transform/transformparser.js')
script(type='text/javascript', src='modules/transform/textualizer/textualizer.js')
script(type='text/javascript', src='modules/transform/textualizer/cstylegenerator.js')
script(type='text/javascript', src='modules/transform/textualizer/cgenerator.js')
script(type='text/javascript', src='modules/transform/textualizer/jstemplate.js')
script(type='text/javascript', src='modules/transform/textualizer/jsgenerator.js')
script(type='text/javascript', src='modules/transform/textualizer/pygenerator.js')
script(type='text/javascript', src='modules/file.js')
script(type='text/javascript', src='modules/componentstreedata.js')
script(type='text/javascript', src='modules/projectfilesdata.js')
script(type='text/javascript', src='client/app.js')
script(type='text/javascript', src='client/services/auth.js')
script(type='text/javascript', src='client/controllers/appctrl.js')
script(type='text/javascript', src='client/controllers/userctrl.js')
script(type='text/javascript', src='client/controllers/commandctrl.js')
script(type='text/javascript', src='client/controllers/filetabctrl.js')
script(type='text/javascript', src='client/directives/splitter.js')
script(type='text/javascript', src='client/directives/treeview.js')
script(type='text/javascript', src='client/directives/programfile.js')
script(type='text/javascript', src='client/directives/program.js')
script(type='text/javascript', src='client/directives/blink.js')
script(type="text/javascript", src="ace/ui-ace.js")

script(type="text/javascript", src="//localhost:1337/livereload.js")

