#pelement-context-toolbar
  img.toolbtn#toggle-optional(src='images/toggle-collapse_basic_red-16.png', alt='no image', tips='隐藏/显示片段')
  img.toolbtn#select(src='images/select_ad-x-16.png', alt='no image', tips='从可选列表重选片段')
