ul#start-menu.sf-menu
  li(ng-click="commands.home()")
    img(src='images/house32.png')
    ul
      li: a 游戏
      li: a 应用
      li: a 工具
      li: a 设置
  li(ng-click="commands.user()")
    img(src='images/user32.png')
    ul.user
      li(ng-show="app.user", ng-click="commands.myBlog()"): a 博客
      li(ng-show="app.user", ng-click="commands.myExtract()"): a 文摘
      li(ng-show="app.user", ng-click="commands.myEmail()"): a 邮件
      li(ng-show="app.user", ng-click="commands.myFavorite()"): a 收藏夹
      li(title="已经注册的用户请从这里登录")
        a(ui-sref="signin") 登录
      li(title="欢迎注册成为hopen的新用户")
        a(ui-sref="signup") 注册
      li(ng-show="app.user")
        button.btn
          i 注销
      li(ng-show="app.users.length")
        button.btn
          i 切换用户
