#main-splitter(splitter)
  #left-pane
    #vtab
      ul
        li.project(ng-class="{selected: app.activeLeftTabIndex==0}", ng-mouseover="app.activeLeftTabIndex=0", title="项目文件夹")
        li.components(ng-class="{selected: app.activeLeftTabIndex==1}", ng-mouseover="app.activeLeftTabIndex=1", title="编程部件")
        li.query-result(ng-class="{selected: app.activeLeftTabIndex==2}", ng-mouseover="app.activeLeftTabIndex=2", title="查询结果")
      #project(ng-show="app.activeLeftTabIndex==0", angular-treeview, tree-id="project", tree-model="project.files")
      #components(ng-show="app.activeLeftTabIndex==1", angular-treeview, tree-id="components", tree-model="components.content")
      #query-result(ng-show="app.activeLeftTabIndex==2")
  #mid-pane
    include ../includes/pelement-context-toolbar
    div.tabs(ng-controller="FiletabCtrl")
      ul
        li(ng-class="{active:filetab.activeFile===file}", ng-repeat="file in filetab.files")
          p(ng-click="filetab.click(file)" ng-bind="file.name")
          img(ng-click="filetab.closeTab(file)", src='images/gnome_window_close16.png', title='关闭')
      .filetab(ng-class="{active:filetab.activeFile===file}", ng-repeat="file in filetab.files")
        program-file(file="file")
    div#program-content(ng-show="debug.programContentVisible" ng-bind="program")
  #right-pane
    div#debug-messages
      p(ng-repeat="msg in debug.messages track by $index", ng-bind="msg")

#statusbar(title="状态条", ng-show="commands.statusBarVisible")
  img(src='images/insert-16.png', ng-show="filetab.activeFile.editMode==INSERTMODE", ng-click="commands.editToggleInsertReplaceMode()", title='插入模式')
  img(src='images/replace-16.png', ng-show="filetab.activeFile.editMode==REPLACEMODE", ng-click="commands.editToggleInsertReplaceMode()", title='替换模式')
  select.select-without-button(ng-model="filetab.activeFile.displayLanguage", ng-options="name for name in app.allLanguages()", title="程序语言")
  #statusbar-message(title="当前程序元素" ng-bind ="app.statusbarMessage")