ul#main-menu.sf-menu
  include ../includes/historysearch.jade
  li
    a 文件
    ul
      li(ng-click="commands.fileNew()"): a 新建...
      li(ng-click="commands.fileOpen()"): a 打开...
      li(ng-click="commands.fileRecent()"): a 最近打开的文件
      li(ng-click="commands.fileSave()"): a 保存
      li(ng-click="commands.fileSaveAll()"): a 保存所有
      li(ng-click="commands.fileSaveAs()"): a 另存为...
      li(ng-click="commands.fileSettings()"): a 设置...
  li
    a 编辑
    ul
      li(ng-click="commands.editUndo()")
        img(src='images/undo16.png')
        span 撤销
      li(ng-click="commands.editRedo()")
        img(src='images/redo16.png')
        span 重做
      li(ng-click="commands.editCut()")
        img(src='images/cut16.png')
        span 剪切
      li(ng-click="commands.editCopy()")
        img(src='images/copy16.png')
        span 复制
      li(ng-click="commands.editPaste()")
        img(src='images/paste16.png')
        span 粘帖
      li(ng-click="commands.editDelete()")
        img(src='images/trash16.png')
        span 删除
      li(ng-click="commands.editHide()")
        img(src='images/hide16.png')
        span 隐藏
      li(ng-click="commands.editShowSiblings()")
        img(src='images/show16.png')
        span 显示同级隐藏元素
      li(ng-click="commands.editShowChildren()")
        img(src='images/expand16.png')
        span 显示下级隐藏元素
      li(ng-click="commands.editTransform()")
        img(src='images/transform16.png')
        span 改变样式
      li(ng-click="commands.editFind()")
        img(src='images/find16.png')
        span 查找...
      li(ng-click="commands.editReplace()")
        img(src='images/find_replace16.png')
        span 替换...
      li(ng-click="commands.editToggleInsertReplaceMode()")
        img(src='images/insert-16.png', ng-show="filetab.activeFile.editMode==INSERTMODE", title='插入模式')
        span(ng-show="filetab.activeFile.editMode==INSERTMODE") 插入模式
        img(src='images/replace-16.png', ng-show="filetab.activeFile.editMode==REPLACEMODE", title='替换模式')
        span(ng-show="filetab.activeFile.editMode==REPLACEMODE") 替换模式
  li
    a 视图
    ul
      li(ng-click="commands.viewFullScreen()"): a 全屏幕
      li(ng-click="commands.viewEditView()"): a 编辑视图
      li(ng-click="commands.viewToggleTreePane()"): a 目录区
      li(ng-click="commands.viewToggleRightPane()"): a 右侧信息区
      li(ng-click="commands.viewToggleToolbar()"): a 工具条
      li(ng-click="commands.viewToggleStatusbar()"): a 状态条
  li
    a 程序
    ul
      li(ng-click="commands.programCollapse()")
        img(src='images/empty16.png')
        span 折叠
      li(ng-click="commands.programExpand()")
        img(src='images/empty16.png')
        span 展开
      li(ng-click="commands.programGoTop()")
        img(src='images/top16.png')
        span 直达顶层
      li(ng-click="commands.programGoUp()")
        img(src='images/green_arrow-up16.jpg')
        span 上升一层
      li(ng-click="commands.programGoDown()")
        img(src='images/green_arrow_down16.jpg')
        span 下降一层
      li(ng-click="commands.programGoPrev()")
        img(src='images/previous16.png')
        span 前一片段
      li(ng-click="commands.programGoNext()")
        img(src='images/next16.png')
        span 后一片段
      li(ng-click="commands.programShowComputerLanguageCode()")
        img(src='images/js16.png')
        span 显示计算机语言代码

  li
    a 运行
    ul
      li(ng-click="commands.programCollapse()"): a 运行
      li(ng-click="commands.programExpand()"): a 调试
      li(ng-click="commands.programShowAsHumanLanuage()"): a 暂停执行
      li(ng-click="commands.programShowAsComputerLanguage()"): a 单步跨行执行
      li(ng-click="commands.programShowAsHumanLanuage()"): a 单步进入
      li(ng-click="commands.programShowAsHumanLanuage()"): a 执行到光标位置
      li(ng-click="commands.programShowAsHumanLanuage()"): a 设置断点
      li(ng-click="commands.programShowAsHumanLanuage()"): a 观察变量
      li(ng-click="commands.programShowAsHumanLanuage()"): a 计算表达式

  li
    a 帮助
    ul
      li(ng-click="commands.helpGetStart()",title="起步教程帮助新用户快速入门"): a 起步
      li(ng-click="commands.helpContent()", title="帮助主题的目录列表"): a 主题目录
      li(ng-click="commands.helpShortcut()", title="欢迎浏览每日提示，这里包含很多使用技巧"): a 每日提示
      li(ng-click="commands.helpTips()", title="键盘快捷键定义的列表"): a 快捷键定义
      li(ng-click="commands.helpFeedback()", title="欢迎提交有关hopen系统的问题、经验和建议"): a 使用反馈
      li(ng-click="commands.helpAbout()", title="关于hopen系统的信息提示"): a 关于Hopen...
