//- 编辑模式：插入模式，替换模式
#elemtoolbar(ng-show="commands.toolbarVisible")
  img(src='images/new_document16.png', ng-click="commands.fileNew()", title='新建一个文件')
  img(src='images/top16.png', ng-click="commands.programGoTop()", title='直达顶层')
  img(src='images/green_arrow-up16.jpg', ng-click="commands.programGoUp()", title='上升一层')
  img(src='images/green_arrow_down16.jpg', ng-click="commands.programGoDown()", title='下降一层')
  img(src='images/previous16.png', ng-click="commands.programGoPrev()", title='前一片段')
  img(src='images/next16.png', ng-click="commands.programGoNext()", title='后一片段')
  img(src='images/cut16.png', ng-click="commands.editCut()", title='剪切')
  img(src='images/copy16.png', ng-click="commands.editCopy()", title='复制')
  img(src='images/paste16.png', ng-click="commands.editPaste()", title='粘帖')
  img(src='images/find16.png', ng-click="commands.editFind()", title='查找')
  img(src='images/find_replace16.png', ng-click="commands.editReplace()", title='替换')
  img(src='images/trash16.png', ng-click="commands.editDelete()", title='删除')
  img(src='images/hide16.png', ng-click="commands.editHide()", title='隐藏')
  img(src='images/show16.png', ng-click="commands.editShowSiblings()", title='显示同级隐藏元素')
  img(src='images/expand16.png', ng-click="commands.editShowChildren()", title='显示下级隐藏元素')
  img(src='images/transform16.png', ng-click="commands.editTransform()", title='改变样式')
  img(src='images/js16.png', ng-click="commands.programShowComputerLanguageCode()", title="显示计算机语言代码")
  img(src='images/settings-16.png', ng-click ='commands.fileSettings()',  title='设置系统参数')
  img(src='images/cancel.png', ng-click ='debug.clearlog()',  title='清除调试消息')
  img(src='images/butterfly16.jpg', ng-click='debug.toggleProgramContent()',  title='显示程序内容')
