script(type="text/javascript", src="static/js/lodash.min.js")
script(type="text/javascript", src="static/js/jquery-1.10.2.min.js")
script(type='text/javascript', src='static/angular/angular.js')
script(type='text/javascript', src='static/angular/angular-ui-router.js')
script(type='text/javascript',
src="http://localhost:3000/socket.io/socket.io.js")
script(type='text/javascript', src='static/client/sockioclient.js')